<html>
<body>
<form action="/login_page" method="POST">

    <label>First Name</label><input type="text" name="fname">
    <br>
    <label>Last Name</label><input type="text" name="lname">
    <br>
    <label>Email-id</label><input type="email" name="email">
    <br>
    <label>Source Destination</label><input type="text" name="source_state">
    <br>
    <label>Source District</label><input type="text" name="source">
    <br>
    <label>Target Destination</label><input type="text" name="dest_state">
    <br>
    <label>District</label><input type="text" name="destination">
    <br>
    <label>Mobile Number</label><input type="number" name="phoneNumber">
    <br>
    <label>Travel Date</label><input type="date" name="trip">
    <br>
    <input type="submit" value="Login">
</form>
</body>
</html>